@using CatalogApplication.Controllers
@using CatalogApplication.Interfaces
@inject ICatalogService CatalogService
@model Catalog
@{
    ViewData["Title"] = "Home Page";
}

<h1>Folder - "@Model.Name"</h1>
<ul>
    @foreach (var catalog in @Model.ChildCatalogs)
    {
        if (Context.Request.Path != "/")
        {
            <li><a href="@Context.Request.Path/@catalog.Name">@catalog.Name</a></li>
        }
        else
        {
            <li><a href="/@catalog.Name">@catalog.Name</a></li>
        }

        @* <li>@Html.ActionLink(@catalog.Name,"ShowCatalog",new{path = +"/"+catalog.Name})</li> *@
    }
</ul>

@if (Context.Request.Path!="/")
{
    <div>
    <a href="@CatalogService.RollBackPath(Context.Request.Path)">Back</a>
    <span>|</span>
    <a href="/">To Root</a>;
    </div>
}
<div>
    <h5>Upload your scheme</h5>
    @using (Html.BeginForm("UploadCatalogs", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input id="design" name="file" type="file" accept=".zip,application/zip,application/x-zip,application/x-zip-compressed"/>
        <input type="submit"/>
    }
    <a href="/download">Download current structure</a>
</div>